@charset 'UTF-8';

/* Fuentes Externas */
@font-face{
    font-family: "nevis";
    src: url("./fonts/nevis.eot");
    src: url("./fonts/nevis.eot?#iefix") format("embedded-opentype"),
         url("./fonts/nevis.woff") format("woff"),
         url("./fonts/nevis.tff") format("truetype"),
         url("./fonts/nevis.svg") format("svg");
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: "fjalla";
    src: url("./fonts/FjallaOne-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: "icon-web";
    src: url("./fonts/websymbols-regular-webfont.svg#WebSymbolsRegular") format("svg"),
         url("./fonts/websymbols-regular-webfont.eot") format("embedded-opentype");
    src: url("./fonts/websymbols-regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("./fonts/websymbols-regular-webfont.woff") format("woff"),
         url("./fonts/websymbols-regular-webfont.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* Estilos */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-image: url(../img/paven.png);
}

.red{
    color: #9b2422;
}

.blue{
    color: #0c73f2;
}

a{
    color: #529125;
    text-decoration: none;
}

a:hover{
    color: #285616;
}

a:visited{
    color: #529125;
}

/* Formularios */
input[type="text"], input[type="email"], input[type="password"], select{
    background-color: white;
    border: 1px solid #c9c9c9;
    box-shadow: 0px 0px 2px #ccc inset;
    color: gray;
    padding: 1px;
    padding-bottom: 2px;
    padding-top: 2px;
    transition: all 300ms;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, select:focus{
    border: 1px solid #70b231;
    color: black;
}

input[type="submit"], input[type="button"], input[type="reset"], button{
    background-color: #70b231;
    border: 1px solid green;
    border-radius: 2px;
    cursor: pointer;
    display: block;
    padding: 3px;
    width: 60px;
}

input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover, button:hover{
    box-shadow: 0px 0px 2px gray;
}

input[type="submit"]:active, input[type="button"]:active, input[type="reset"]:active, button:active{
    box-shadow: 0px 0px 3px gray inset;
    text-shadow: 0px 0px 1px #ccc;
}

header{
    height: 250px;
    margin: 0px auto;
    min-width: 1024px;
    width: 100%;
}

header #logotipo{
    margin: 0px auto;
    padding-top: 20px;
    width: 770px;
}

header #logotipo img{
    display: block;
    margin: 0px auto;
    text-align: center;
    width: 140px;
    /* Efectos */
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

header #logotipo img:hover {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

header h1{
    color: #70b231;
    font-family: "nevis";
    font-size: 40px;
    letter-spacing: 4px;
    margin-top: 10px;
    transition: all 300ms;
    text-align: center;
    text-shadow: 0px 2px 1px #333333;
    text-transform: uppercase;
}

header h1:hover{
    text-shadow: 0px 2px 1px #333333, 0px 0px 4px #70b231;
}

header h1 a{
    color: #70b231;
    text-decoration: none;
}

nav{
    background-color: #333333;
    box-shadow: 0px 0px 2px grey;
    color: white;
    font-family: sans-serif, Arial, Helvetica;
    font-size: 14px;
    height: 40px;
    width: 100%;
}

nav ul{
    list-style: none;
    margin: 0 auto;
    width: 1090px;
}

nav > ul > li{
    border-right: 1px solid grey;
    float: left;
    line-height: 40px;
    transition: all 300ms;
}

nav > ul > li > a{
    color: white;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
}

nav > ul > li > a:first-child{
    border-left: 1px solid grey;
}

nav > ul > li:hover{
    background-color: #70b231;
    box-shadow: 0px 0px 4px green inset;
}

/* Menú Desplegable */
nav > ul > li > ul{
    box-shadow: 0px 2px 2px grey;
    color: white;
    display: none;
    position: absolute;
    text-align: left;
    width: 160px;
    z-index: 1;
}

nav > ul > li:hover > ul{
    display: block;
}

nav > ul > li:hover > ul > li{
    background-color: #f2f1f0;
    border-bottom: 1px solid #d6d6d6;
    font-size: 13px;
    line-height: 25px;
    padding: 8px;
    transition: all 300ms;
}

nav > ul > li:hover > ul > li:hover{
    background-color: #b4b4b4;
    box-shadow: 0px 2px 6px #6b6b6b inset;
}

nav > ul > li:hover > ul > li > a{
    color: #666666;
}

/* ASIDE */

aside, #menssage{
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 2px #ccc;
    /*clear: both;*/
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
    width: 200px;
}

#menssage{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 10px;
    width: 180px;
}

.widget{
    display: block;
    border-bottom: 1px dashed #333333;
    font-size: 14px;
    margin: 5px auto;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    width: 180px;
}

.widget:last-child{
    margin-bottom: 20px;
}

aside h3{
    background-color: #f2f3f2;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    color: #333333;
    display: block;
    margin-bottom: 15px;
    padding-bottom: 2px;
    padding-top: 2px;
    text-align: center;
    width: 100%;
}

/* Formularios - <aside></aside> */

aside div label, aside div input[type="text"], aside div input[type="email"], aside div input[type="password"], aside div a{
    display: block;
    margin-bottom: 2px;
    margin-top: 2px;
    width: 95%;
}

aside div input[type="button"], aside div input[type="submit"], aside div input[type="reset"], aside div button{
    margin-bottom: 10px;
    margin-top: 5px;
}

aside input, aside label{
    margin: 0px auto;
    text-align: center;
}


aside li{
    list-style: square;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-top: 8px;
}

/* SECTIONS */

#sections{
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 20px;
    width: 75%;
}

#sections .titulo{
    border-bottom: 1px solid #ccc;
    font-family: "Fjalla";
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-top: -20px;
    padding-bottom: 10px;
    padding-top: 20px;
    text-align: center;
}

#sections section{
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 4px #c9c9c9;
    color: #333333;
    font-size: 16px;
    margin-top: 40px;
    overflow: hidden;
    padding: 20px;
}

#sections article{
    margin: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#sections .date{
    color: gray;
    font-size: 14px;
}

section .stickerOne, section .stickerTwo{
    margin-top: -38px;
    position: absolute;
    z-index: 0;
}

section .stickerTwo{
    margin-left: 69%;
}

.icon{
    font-family: "icon-web";
    font-size: 12px;
    float: left;
    margin-right: 5px;
}

.clearfix{
    clear: both;
    float: none;
}

#history{
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

/* FOOTER */

footer{
    background-color: #333333;
    box-shadow: 0px 0px 2px gray;
    color: white;
    font-family: "nevis";
    font-size: 14px;
    margin: 0px auto;
    margin-top: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    width: 100%;
}