@charset "UTF-8";

* /* Mini Normalize CSS */
{
  border: none;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
}

#Container
{
  border: 1px solid rgba(225, 225, 226, 0.8);
  box-shadow: 0px 0px 10px #CCC;
  height: auto;
  margin: 0px auto;
  margin-bottom: 40px;
  margin-top: 40px;
  min-height: 600px;
  width: 90%;
}

header
{
  align-items: center;
  border-top: 1px solid rgba(225, 225, 226, 0.8);
  display: grid;
  grid-template-columns: 68% 30%;
  height: 120px;
  width: 100%;
}

.Logo
{
  color: black;
  margin-left: 20px;
  padding: 10px;
  text-shadow: 1px 1px 0px #CCC;
  text-transform: uppercase;
}

.Logo h1
{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 35px;
  font-style: italic;
  font-weight: 900;
}

nav
{
  height: 100%;
  padding-right: 20px;
  width: 100%;
}

nav > ul
{
  align-items: center;
  display: grid;
  height: 100%;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  text-align: center;
}

nav ul li a
{
  color: #444;
  padding: 15px;
  text-transform: uppercase;
  transition: all 100ms;
}

nav ul li a:hover
{
  background-color: #CCC;
  color: white;
}

#Content
{
  align-items: start;
  display: grid;
  grid-column-gap: 7px;
  grid-template-columns: 20% 1fr;
  justify-items: space-between;
  padding-bottom: 20px;
  padding-top: 20px;
}

#Projects
{
  align-items: start;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, 250px);
}

article
{
  border: 1px solid #CCC;
  margin-bottom: 25px;
  margin-right: 20px;
}

article div img
{
  width: 100%;
}

.Project-Info a
{
  color: black;
  font-size: 16px;
  transition: all 300ms;
}

.Project-Info a:hover
{
  color: green;
}

.Project-Info p
{
  color: gray;
  font-size: 16px;
}

aside
{
  margin-right: 30px;
  padding: 15px;
}

aside h2
{
  border-bottom: 1px solid rgba(225, 225, 226, 0.8);
  color: #444;
  display: block;
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 20px;
  padding-bottom: 10px;
  text-align: center;
  width: 100%;
}

aside ul li
{
  padding-bottom: 20px;
}

aside ul li a
{
  background-color: #EEE;
  color: #444;
  display: block;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  transition: all 300ms;
}

aside ul li a:hover
{
  background-color: #444;
  color: #EEE;
}

footer
{
  align-items: center;
  border-top: 1px solid rgba(225, 225, 226, 0.8);
  display: grid;
  grid-template-columns: 1fr 25%;
  height: 120px;
  justify-content: start;
}

footer .Logo
{
  margin-right: 20px;
  opacity: 0.5;
  text-align: left;
}

footer .Info
{
  color: #444;
  margin-left: 20px;
}

@media (max-width: 860px)
{
  header 
  {
    grid-template-columns: 100%;
    height: 140px;
    justify-content: center;
    padding-bottom: 20px;
  }

  header h1
  {
    text-align: center;
  }

  #Content
  {
    grid-column-gap: auto;
    grid-template-columns: 1fr;
  }

  #Projects
  {
    grid-template-columns: 1fr;
  }

  article 
  {
    margin-left: 10px;
    margin-right: 10px;
  }

  aside 
  {
    margin-right: 0px;
    padding: 15px;
  }

  aside ul 
  {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
  }

  footer 
  {
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center !important;
  }

  footer .Logo, footer .Info 
  {
    text-align: center !important;
  }
}