@charset "UTF-8";

* /* Mini Normalize CSS */
{
  border: none;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
}

#Container
{
  border: 1px solid rgba(225, 225, 226, 0.8);
  box-shadow: 0px 0px 10px #CCC;
  height: auto;
  margin: 0px auto;
  margin-bottom: 40px;
  margin-top: 40px;
  min-height: 600px;
  width: 90%;
}

header
{
  align-items: center;
  border-top: 1px solid rgba(225, 225, 226, 0.8);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 120px;
}

.Logo
{
  color: black;
  flex-basis: 65%;
  flex-grow: 1;
  margin-left: 20px;
  padding: 10px;
  text-shadow: 1px 1px 0px #CCC;
  text-transform: uppercase;
}

.Logo h1
{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 35px;
  font-style: italic;
  font-weight: 900;
}

nav
{
  flex-basis: 30%;
  flex-grow: 1;
  height: 100%;
}

nav > ul
{
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
}

nav ul li a
{
  color: #444;
  padding: 15px;
  text-transform: uppercase;
  transition: all 100ms;
}

nav ul li a:hover
{
  background-color: #CCC;
  color: white;
}

#Content
{
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 20px;
}

#Projects
{
  display: flex;
  flex-basis: 70%; /** 80% - Por el tamaño del monitor se reduce el porcentaje. */
  flex-flow: row wrap;
  justify-content: space-between;
}

article
{
  border: 1px solid #CCC;
  flex-basis: 250px;
  flex-grow: 1;
  margin-bottom: 25px;
  margin-right: 20px;
}

article div img
{
  width: 100%;
}

.Project-Info a
{
  color: black;
  font-size: 16px;
  transition: all 300ms;
}

.Project-Info a:hover
{
  color: green;
}

.Project-Info p
{
  color: gray;
  font-size: 16px;
}

aside
{
  display: flex;
  flex-basis: 15%;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 30px;
  /*order: 2;*/
  padding: 15px;
}

aside h2
{
  border-bottom: 1px solid rgba(225, 225, 226, 0.8);
  color: #444;
  display: block;
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 20px;
  padding-bottom: 10px;
  text-align: center;
  width: 100%;
}

aside ul li
{
  padding-bottom: 20px;
}

aside ul li a
{
  background-color: #EEE;
  color: #444;
  display: block;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  transition: all 300ms;
}

aside ul li a:hover
{
  background-color: #444;
  color: #EEE;
}

footer
{
  align-items: center;
  border-top: 1px solid rgba(225, 225, 226, 0.8);
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  height: 120px;
}

footer .Logo
{
  flex-basis: auto;
  flex-grow: 1;
  margin-right: 20px;
  opacity: 0.5;
  order: 2;
  text-align: right;
}

footer .Info
{
  color: #444;
  flex-grow: 1;
  margin-left: 20px;
  order: 1;
}

@media (max-width: 1334px)
{
  header
  {
    text-align: center;
  }

  nav > ul 
  {
    align-items: flex-start;
    justify-content: space-evenly;
    margin-top: 20px;
  }
}

@media (max-width: 645px)
{
  footer .Logo
  {
    flex-basis: 100%;
    order: 1;
    margin: 0px;
    text-align: center;
  }

  footer .Info
  {
    flex-basis: 100%;
    margin: 0px;
    order: 2;
    text-align: center;
  }

  #Content
  {
    flex-direction: column;
    flex-wrap: wrap;
  }

  aside 
  {
    margin-right: 0px;
  }

  aside > ul
  {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  aside > ul > li 
  {
    flex-grow: 1;
    margin-left: 5px;
    margin-right: 5px;
  }

  article 
  {
    margin-left: 10px;
    margin-right: 10px;
  }

  nav 
  {
    padding-bottom: 40px;
  }
}